/*
 * SPDX-FileCopyrightText: 2024 Nicco Kunzmann and Open Web Calendar Contributors <https://open-web-calendar.quelltext.eu/>
 *
 * SPDX-License-Identifier: GPL-2.0-only
 */

:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --background-color: #ffffff;
  --accent-color: #007acc;  
  --bottom-slider-height: calc(100% - 600px);
  --minimum-bottom-slider-height: 1.5em;
  --nav-height: 7em;
  --maximum-height-of-calendar: 1200px;
  --minimum-height-of-calendar: 200px;
  --total-document-height: 100%;
  --border-radius: 0.5em;
  --main-width: 35em;
}

body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
    background: var(--background-color);
    height: 100%;  
    margin: 0;
    padding: 0;
}

.dark {
  --primary-color: #ffffff;
  --secondary-color: #cfcfcf;
  --background-color: #212121;
  --accent-color: #007acc;
  color: var(--primary-color);
  background: var(--background-color);
}

body, .flexcontainer {
  display: flex;
  flex-direction: column;
}

.flexcontainer {
  flex: 1 1 auto;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  border-color: var(--primary-color);
  border-width: 0 0 1px 0;
  border-style: solid;
  margin-top: 0.3em;
  padding: 1em 1em 1em 1em;
  color: var(--secondary-color);
}

footer a {
  color: var(--accent-color);
}

.languages {
  text-align: center;
}

.languages a {
  color: var(--accent-color);
  text-decoration: none;
  margin: 0.2em;
  display: inline-block;
}

.languages a:hover {
  text-decoration: underline;
}

.languages a.current {
  color: var(--primary-color);
}

main, .navcontent {
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

section {
  max-width: 50em;
  overflow-y: auto;
  height: 100%;
  flex: 1 1 auto;
}

.code {
    padding: 1em;
    background: var(--secondary-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.calendar-url-input, #calendar-title {
    width: 100%;
}

#open-web-calendar {
    width: 100%;
    height: 100%;
    min-height: var(--minimum-height-of-calendar);
    flex: 1 1 auto;
}

#css-input {
  width: 100%;
}

.STATUS-TENTATIVE {
  font-style: italic;
}

.STATUS-CONFIRMED {
  font-weight: bold;
}

.STATUS-CANCELLED {
  text-decoration: line-through;
}

.css-class-example {
  display: inline-block;
}

#map-link-location, #map-link-geo {
  margin: 2px;
  width: 100%;
}

#calendar-link {
  word-wrap: break-word;
  padding: 1em;
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: var(--border-radius);
  display: block;
}

.no-style-listing {
  padding-bottom: 1em;
  list-style-type: none;
  padding-left: 0;
}

.no-style-listing li {
  padding-bottom: 0.5em;
}

nav {
  overflow: visible;
  width: 100%;
  height: var(--nav-height);
}

nav h2 {
  user-select: none;
}

.navcontent {
  display: flex;
  justify-content: space-between;
}

section h2 {
  display: none;
}

section {
  padding: 1em;
  display: none;
}

section.active {
  display: block;
}

nav a {
  text-decoration: none;
  color: var(--accent-color);
}

nav li { }

nav ul {
  display: none;
}

nav h1 {
  font-size: 1.5em;
}

#currect-section {
  color: var(--primary-color);
  display: inline-block;
}

#navigate-next, #navigate-previous {
  color: var(--accent-color);
  vertical-align: middle;
  display: block;
  font-size: 1.5em;
  padding: 1em;
}

#navigate-previous:before {
  content: "⬅ ";
}

#navigate-next:after {
  content: " ➡";
}

#navigate-next:hover, #navigate-previous:hover {
  color: var(--primary-color);
  background-color: rgba(0, 122, 204, 0.1);
  border-radius: var(--border-radius);
}

#bottom-done-link:before {
  content: "✓ ";
}

.bottom-navigation {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  padding: 0.5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--background-color);
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.no-previous-section .needs-previous-section, 
.no-next-section .needs-next-section {
  visibility: hidden;
}

#event-status-form {
  text-align: center;
}

.action-paragraph {
  text-align: center;
}

.belongs-together {
  display: inline-block;
}

#height-slider {
  height: var(--bottom-slider-height);
  min-height: var(--minimum-bottom-slider-height);
  text-align: center;
  text-decoration: none;
  width: 100%;
  user-select: none;
  color: var(--background-color);
  background: var(--secondary-color);
  overflow: hidden;
  max-height: calc(var(--maximum-height-of-calendar) - var(--minimum-height-of-calendar));
}

#overlay {
  background-color: rgba(255, 255, 255, 0.01);
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--total-document-height);
}

.sliding #overlay {
  display: block;
}

#width-slider {
  display: none;
}

aside {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  min-height: var(--maximum-height-of-calendar);
}

#calendar-code-execution {
  flex: 1 1 auto;
  width: 100%;
}

#add-url-calendars:not(:has(option)) {
  display: none;
}

#add-url-paragraph {
  display: flex;
  flex-direction: column;
}

#add-url-url {
  width: 100%;
}

#credentials {
  display: flex;
  flex-direction: row;
}

#add-url-username, 
#add-url-password, 
#add-url-credentials-label {
  flex: 1 1 auto;
  width: 33%;
}

.default-hidden {
  display: none;
}

.toggle-default-visibility .default-visible {
  display: none;
}

.toggle-default-visibility .default-hidden {
  display: unset;
}

#calendar-urls a {
  display: block;
  overflow: hidden;
  text-align: left;
  padding-bottom: 1em;
}

#calendar-urls li {
  text-align: center;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--secondary-color);
  border-style: solid;
  padding: 1em;
}

#calendar-urls li input, 
#calendar-urls li button {
  height: 2em;
  vertical-align: middle;
}

#select-sections {
  text-align: center;
}

@media only screen and (min-width: 70em) {
  :root {
    --main-width: 35em;
    --nav-height: 7em;
    --bottom-slider-height: 1.5em;
    --maximum-height-of-calendar: calc(100vh - var(--nav-height));
  }
  aside, main {
    height: var(--maximum-height-of-calendar);
    margin: 0;
    padding: 0;
  }
  .flexcontainer {
    flex-direction: row;
  }
  main {
    width: var(--main-width);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  aside, #height-slider {
    width: calc(100% - var(--main-width));
  }
  nav {
    display: block;
    position: initial;
  }
  .bottom-navigation {
    width: var(--main-width);
    flex: 1 1 auto;
  }
  #height-slider {
    max-height: calc(100% - var(--minimum-height-of-calendar));
    width: 100%;
  }
  #width-slider {
    display: block;
    position: fixed;
    top: 50%;
    left: var(--main-width);
    transform: translate(-50%, -50%);
    cursor: pointer;
    user-select: none;
  }
}
